

.course-pre-selection {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
  width: 1920px;
  position: absolute;
  left: 0;
  top: 0;
}

.course-pre-selection h2{
  text-align: left;
}


.main-preselection{
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 140px;
  width: 1320px;
}


.search-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 50%;
  gap: 10px;
}

.search-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-container button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4a0e78;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  width: 9rem;
  
}

.course-sections {
  display: flex;
  gap: 20px;

}

.course-sections h3{
  margin-top: 0;
  color: #fff;
  padding: 5px;
  background-color: #4a0e78;
  display: block;
  
}

.course-list, .pre-selection {
  flex: 1;
  background-color: #f9f9f9;
  padding: 0px;
  border-radius: 4px;
  border:  1px solid #00000053;
  

  
}


.course-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;

}

.schedule-dropdown {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.schedule-dropdown li {
  padding: 5px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  border-radius: 4px;
}

.pre-selected-course {
  background-color: #e6e6e6;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.save-button {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4a0e78;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.success-message {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.error-message {
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}