.login-container {
    background-color: white;
    width: 700px;
    height: 1080px;
    justify-content: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .login-form-container {
    width: 80%;
    display: flex;
    align-items: left;
    justify-content: center;
    padding-left: 5rem;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
  }

  body{
    background-image: url(../../assets/background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Poppins, sans-serif;

  }

  
  .logo-container {
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 30rem;

  }
  
  .logo {
    max-width: 100%;
    margin-bottom: 1px;

  }
  
  .form-group {
    margin-bottom: 2rem;
    
  }
  
  .form-label {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3C096C;
    text-align: left;
  }
  
  .form-input {
    size: 100%;
    padding: 0.5rem;
    font-size: 4rem;
    line-height: 1.5;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0.5rem 0.3rem gray;
    
  }
  
  .forgot-password {
    display: block;
    text-align: left;
    font-size: 1rem;
    color: #3C096C;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  
  .forgot-password:hover {
    color: #6b46c1;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #3C096C;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;

  }
  
  .submit-button:hover {
    background-color: #6b46c1;
  }
  
  .image-container {
    width: 50%;
    background-size: cover;
    background-position: left;
  }