body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .course-pre-selection {
    width: 1300px;
    margin: 0 auto;
    padding: 0;
    
    
  }
  
  main {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  h2 {
    text-align: left;
    margin-bottom: 0.5rem;
    color: #4a0e78;
  }
  
  .search-container {
    display: inline-block;
    margin-bottom: 20px;
    
  }
  
  .search-container input[type=text] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c5c5c5;
    border-radius: 4px 0 0 4px;
    background-color: #f9f9f9;
    width: 500px;
    justify-content: center;
  }
  
  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4a0e78;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .course-sections {
    display: flex;
    gap: 20px;
  }
  
  .course-list, .pre-selection {
    flex: 1;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    height: 250px;
  }
  
  h3 {
    color: #4a0e78;
    margin-top: 0;
  }
  
  .course-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .schedule-dropdown {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .schedule-dropdown li {
    padding: 5px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  
  .pre-selected-course {
    background-color: #e6e6e6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .save-button {
    display: block;
    margin-left: auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4a0e78;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .success-message {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
  }